.app {
  height: 100vh;
  background:#64B5F6;
  text-align: center;
  background: #000000 url(bg2.jpg) 50% 50% repeat; 

}

.tweet{
  border: 2px solid black;
  border-radius: 40px;
  background:#d19b4ad5;
  width: 600px;
  align-self: center;
  box-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.image{
  height: 400;
  width:180;
  box-shadow: 0px 4px 4px black;
  border-radius: 7px;
}

.button{
  background-color: #745425;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0px 2px 2px lightgray;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease background-color 250ms;
  
}

.header{
  padding: 30px;
  text-align: center;
  background: #0D47A1;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-family: 'Macloney Regular';
  background: #000000 url(bg1.jpg) 50% 50% no-repeat; 
  text-shadow: 0px 2px 2px lightgray ;

}
