.app {
  height: 100%;
  background:#64B5F6;
  text-align: center;
  background: #000000 url(WPnew.jpg) 50% 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

.list{
  list-style-position: inside;
  list-style-type: square;
}

.head{
  color: #eaeff3;
  border-radius: 0px;
  background: #052642;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  font-style: oblique;
  box-align: center;
  text-align: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: auto;
  max-width: 85%;
  padding: 3px 2px;
  opacity: 0.98;
  
}
.git{
  border: 5px;
  border-color: #000000;
  color: #aec8df;
  border-radius: 10px;
  background: #052642;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  font-style: oblique;
  box-align: center;
  text-align: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: auto;
  max-width: 60%;
  padding: 3px 2px;
  opacity: 0.98;
  
}

.quote{
  border: 2px solid rgb(0, 0, 0);
  color: #94b2cc;
  border-radius: 40px;
  background: #1d4970;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  font-style: oblique;
  box-align: center;
  text-align: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: auto;
  max-width: 85%;
  padding: 3px 2px;
  opacity: 0.98;
  
}
.heading{
  color: #e5e9ee; font-family: 'Lato', sans-serif; font-size: 25px; font-weight: 300; line-height: 30px; margin: 0 0 25px;  
  
}
.homeimage{
  margin-top: 9px;
  height: auto;
  width: auto;
  max-width: 20%;
  max-height: 30%;
  box-shadow: 0px 4px 4px black;
  border-width: 400px;
  border-color: #020608;
  border-radius: 15px;
  opacity: 0.95;
}
.gitimg{
  margin-top: 5px;
  border-radius: 5px;
  height: auto;
  width: auto;
  max-width: 35%;
  max-height: 35%;
  box-shadow: 0px 4px 4px black;
  border-width: 400px;
  border-color: #020608;
  border-radius: 15px;
  opacity: 0.95;
}

.matimage{
  height: auto;
  width: auto;
  max-width: 70%;
  box-shadow: 0px 4px 4px black;
  border-radius: 7px;
  opacity: 0.95;
}
.idimage{
  height: auto;
  width: auto;
  max-width: 90%;
  box-shadow: 0px 4px 4px black;
  border-radius: 7px;
  opacity: 0.95;
}

.uniimage{
  height: auto;
  width: auto;
  max-width: 90%;
  box-shadow: 0px 4px 4px black;
  border-radius: 7px;
  opacity: 0.95;
}
.quote{
  border: 2px solid black;
  border-radius: 40px;
  background: rgb(126, 162, 173);
  color: #022646;
  align-self: center;
  box-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  padding: 4px 2px;
  
}

.paragraph{
  border-radius: 0px;
  background: rgb(91, 132, 182);
  align-self: center;
  box-align: center;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  opacity: 0.85;
  padding: 3px 2px;
  
}

.image{
  height: 400;
  width:180;
  box-shadow: 5px 5px 5px 5px rgb(196, 221, 226);
  border-radius: 7px;
  margin-top: 15px;
}

.btn {
  font-size: 15px;
  padding: 10px;
  width: 120px;
  text-align: center;
  border: 0.1rem solid#123b5f;
  margin-bottom: 1rem;
  font-style: oblique;
  text-decoration: none;
  color: #022646;
  background-color: rgb(196, 221, 226);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1.4rem 0 rgba(41, 124, 165, 0.5);
  transform: translateY(-0.25rem);
  transition: transform 200ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}


.header{
  padding: 30px;
  text-align: center;
  color: rgb(196, 221, 226);
  font-size: 50px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  background: #000000 url(do.jpg) 50% 80% no-repeat; 
  text-shadow: 0px 2px 2px lightgray ;
  margin-top: 0px;
  opacity: 0.92;

}

.butback{
  padding: 0px;
  text-align: center;
  color: rgb(196, 221, 226);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  background: #000a24; 
  text-shadow: 0px 2px 2px lightgray ;
  margin-top: -33.5px;
  margin-bottom: 0px;
  opacity: 0.8;
}

.hiden{
  display: none;
}